# HOME TASK 1

#### LOGISTIC REGRESSION TO CLASSIFY SENTIMENT FROM RUSSIAN TWEETS (BANK & TELECOM) USING TF-IDF VECTORIZER TO EXTRACT FEATURES

In [1]:
# Import of packages and libraries:
import pandas as pd
import xml.etree.cElementTree as et
import numpy as np
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import f1_score
import re
###
#import gensim
#from keras.layers import Input
#from keras.layers.embeddings import Embedding
#from keras import optimizers
#from keras.layers import Dense, concatenate, Activation, Dropout
#from keras.models import Model
#from keras.layers.convolutional import Conv1D
#from keras.layers.pooling import GlobalMaxPooling1D
#
#from keras.preprocessing.text import Tokenizer
#from keras.preprocessing.sequence import pad_sequences
#from keras.utils import to_categorical
###

## XML Parser:

In [2]:
def xml_parser(path):
    d = dict()
    root = et.parse(path)
    rows = root.findall('.//column')
    for row in rows:
        d.setdefault(list(row.attrib.values())[0],[]).append(row.text)
    df = pd.DataFrame.from_dict(d)
    return df

In [3]:
# Parse data:
data_train = pd.DataFrame()
data_test = pd.DataFrame()
path_train = ['tkk_train_2016.xml', 'bank_train_2016.xml']
path_test = ['tkk_test_etalon.xml', 'banks_test_etalon.xml']
for path in path_train:
    df = xml_parser(path)
    data_train = pd.concat([df, data_train], ignore_index=True)
for path in path_test:
    df = xml_parser(path)
    data_test = pd.concat([df, data_test], ignore_index=True)

In [4]:
data_train

,alfabank,bankmoskvy,beeline,date,gazprom,id,komstar,megafon,mts,raiffeisen,rostelecom,rshb,sberbank,skylink,tele2,text,twitid,uralsib,vtb
0,0,NULL,NaN,1406224554,NULL,1,NaN,NaN,NaN,NULL,NaN,NULL,NULL,NaN,NaN,http://t.co/YEVHuvVGA1 Взять кредит тюмень аль...,492367586156630000,NULL,NULL
1,NULL,NULL,NaN,1406224691,NULL,2,NaN,NaN,NaN,NULL,NaN,NULL,NULL,NaN,NaN,Мнение о кредитной карте втб 24 http://t.co/SB...,492368160923070000,NULL,0
2,NULL,NULL,NaN,1406224798,NULL,3,NaN,NaN,NaN,0,NaN,NULL,NULL,NaN,NaN,«Райффайзенбанк»: Снижение ключевой ставки ЦБ ...,492368608346260000,NULL,NULL
3,NULL,NULL,NaN,1406225412,NULL,4,NaN,NaN,NaN,NULL,NaN,NULL,0,NaN,NaN,Современное состояние кредитного поведения в р...,492371181946030000,NULL,NULL
4,NULL,NULL,NaN,1406226283,NULL,5,NaN,NaN,NaN,NULL,NaN,NULL,1,NaN,NaN,@sawik_shuster @YevhenS Главное чтоб банки СБЕ...,492374836564750000,NULL,1
5,NULL,0,NaN,1406226450,NULL,6,NaN,NaN,NaN,NULL,NaN,NULL,NULL,NaN,NaN,http://t.co/Qr6JbSVTxY Оформить краткосрочный ...,492375537080600000,NULL,NULL
6,NULL,NULL,NaN,1406226505,NULL,7,NaN,NaN,NaN,NULL,NaN,NULL,NULL,NaN,NaN,Самый выгодный автокредит в втб 24 http://t.co...,492375766907510000,NULL,1
7,NULL,NULL,NaN,1406226960,NULL,9,NaN,NaN,NaN,NULL,NaN,NULL,0,NaN,NaN,Кредит иногородним в москве сбербанк http://t....,492377674535680000,NULL,NULL
8,NULL,NULL,NaN,1406226982,NULL,10,NaN,NaN,NaN,NULL,NaN,0,NULL,NaN,NaN,Кредитный калькулятор россельхозбанк чита http...,492377768232250000,NULL,NULL
9,NULL,NULL,NaN,1406227218,NULL,11,NaN,NaN,NaN,NULL,NaN,NULL,NULL,NaN,NaN,http://t.co/h6r6GdBe4H Легко можно получить де...,492378757769220000,NULL,1
10,NULL,NULL,NaN,1406227218,NULL,12,NaN,NaN,NaN,-1,NaN,NULL,NULL,NaN,NaN,ДЕЛО - На 1 млрд грн ушел в минус Райффайзен ...,492378758372800000,NULL,0
11,0,NULL,NaN,1406227462,NULL,13,NaN,NaN,NaN,NULL,NaN,NULL,NULL,NaN,NaN,Део нексия в кредит в альфа банке http://t.co/...,492379779946260000,NULL,NULL
12,NULL,NULL,NaN,1406227462,NULL,14,NaN,NaN,NaN,NULL,NaN,0,NULL,NaN,NaN,Россельхозбанк кредит стань фермером http://t....,492379780881590000,NULL,NULL
13,NULL,NULL,NaN,1406227585,NULL,15,NaN,NaN,NaN,NULL,NaN,NULL,NULL,NaN,NaN,http://t.co/CuNsxVhAb0 Банк втб взять кредит 4...,492380298458710000,NULL,0
14,NULL,NULL,NaN,1406228494,NULL,16,NaN,NaN,NaN,NULL,NaN,NULL,-1,NaN,NaN,@ShtirliZ_ @Zhukova_olga @winzard @tereshenkov...,492384109483000000,NULL,NULL
15,NULL,NULL,NaN,1406228524,NULL,17,NaN,NaN,NaN,NULL,NaN,NULL,0,NaN,NaN,Расчитать кредит сбер банк россии в москве htt...,492384237199580000,NULL,NULL
16,NULL,NULL,NaN,1406228524,0,18,NaN,NaN,NaN,NULL,NaN,NULL,NULL,NaN,NaN,Кредит в газпром банке тула http://t.co/jqt7Nf...,492384237631570000,NULL,NULL
17,NULL,NULL,NaN,1406228544,NULL,19,NaN,NaN,NaN,NULL,NaN,NULL,0,NaN,NaN,Кредитный калькулятор сбербанк россии http://t...,492384320926260000,NULL,NULL
18,NULL,NULL,NaN,1406228795,NULL,20,NaN,NaN,NaN,NULL,NaN,NULL,-1,NaN,NaN,@Umka_75 @Alfarius2012 @igor_sechin втб и сбер...,492385371649740000,NULL,-1
19,NULL,NULL,NaN,1406228880,NULL,21,NaN,NaN,NaN,NULL,NaN,0,NULL,NaN,NaN,http://t.co/Snn5WoPVcf Взять кредит строительс...,492385727242850000,NULL,NULL
20,NULL,NULL,NaN,1406232599,NULL,22,NaN,NaN,NaN,NULL,NaN,NULL,NULL,NaN,NaN,Льготный период по кредитной карте втб 24 http...,492401325649690000,NULL,0
21,NULL,NULL,NaN,1406257672,NULL,23,NaN,NaN,NaN,NULL,NaN,NULL,NULL,NaN,NaN,http://t.co/SqAiEPURl0 Казань банк втб 24 хочу...,492506491879190000,NULL,0
22,NULL,NULL,NaN,1406257673,NULL,24,NaN,NaN,NaN,NULL,NaN,0,NULL,NaN,NaN,http://t.co/YtapffQchW Как взять кредит на раз...,492506495830200000,NULL,NULL
23,NULL,NULL,NaN,1406258046,NULL,25,NaN,NaN,NaN,NULL,NaN,NULL,NULL,NaN,NaN,Оао банк втб северо запад в спб автокредит htt...,492508060754390000,NULL,0
24,NULL,NULL,NaN,1406258181,NULL,26,NaN,NaN,NaN,NULL,NaN,NULL,NULL,NaN,NaN,http://t.co/6sKsurs9OH Оформить заявку на кред...,492508625018310000,0,NULL
25,NULL,NULL,NaN,1406258263,0,27,NaN,NaN,NaN,NULL,NaN,NULL,NULL,NaN,NaN,http://t.co/v4cogwQQ1g Взять кредит в газпромб...,492508970482160000,NULL,NULL
26,NULL,NULL,NaN,1406258476,-1,28,NaN,NaN,NaN,NULL,NaN,NULL,NULL,NaN,NaN,"Канада ввела санкции против Газпромбанка, ВЭБа...",492509863486840000,NULL,NULL
27,0,NULL,NaN,1406258508,NULL,29,NaN,NaN,NaN,NULL,NaN,NULL,NULL,NaN,NaN,http://t.co/UYLSGYH8P6 Как взять денежный кред...,492509998220870000,NULL,NULL
28,NULL,NULL,NaN,1406258549,NULL,30,NaN,NaN,NaN,0,NaN,NULL,NULL,NaN,NaN,Заявление на потребительский кредит в райффайз...,492510171139410000,NULL,NULL
29,NULL,NULL,NaN,1406258630,NULL,31,NaN,NaN,NaN,NULL,NaN,NULL,0,NaN,NaN,http://t.co/c2r5fpTO6H Сбербанк кредит как пол...,492510508420180000,NULL,NULL
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18005,NaN,NaN,NULL,1386954535,NaN,8816,NULL,NULL,1,NaN,NULL,NaN,NaN,NULL,NULL,@ru_mts @mts_ukraine благодарю =),411543266815787008,NaN,NaN
18006,NaN,NaN,NULL,1386955405,NaN,8817,NULL,NULL,-1,NaN,NULL,NaN,NaN,NULL,NULL,RT @zamigehyrejy: мтс без 3г просто печале не...,411546915432849408,NaN,NaN
18007,NaN,NaN,NULL,1386961535,NaN,8818,NULL,NULL,-1,NaN,NULL,NaN,NaN,NULL,NULL,@ru_mts они уходят в ожидание на 5 минут и пот...,411572626868699136,NaN,NaN
18008,NaN,NaN,NULL,1387521073,NaN,8819,NULL,NULL,0,NaN,NULL,NaN,NaN,NULL,NULL,МТС - люди говорят! ФСБ - мы записываем! http:...,413919500195860480,NaN,NaN
18009,NaN,NaN,NULL,1387773214,NaN,8820,NULL,NULL,-1,NaN,NULL,NaN,NaN,NULL,NULL,RT @css8574: У МТС проблемы со связью из-за за...,414977052975316992,NaN,NaN
18010,NaN,NaN,NULL,1387774309,NaN,8821,NULL,NULL,-1,NaN,NULL,NaN,NaN,NULL,NULL,#МТС что со связью вновь? На островах вообще м...,414981647226773504,NaN,NaN
18011,NaN,NaN,NULL,1387774917,NaN,8822,NULL,NULL,-1,NaN,NULL,NaN,NaN,NULL,NULL,"@ru_mts, вы выделяете персонального менеджера,...",414984199154966528,NaN,NaN
18012,NaN,NaN,NULL,1387775031,NaN,8823,NULL,NULL,-1,NaN,NULL,NaN,NaN,NULL,NULL,@ru_mts спасибо за ответ точнее за посыл в офи...,414984676579999744,NaN,NaN
18013,NaN,NaN,NULL,1387776894,NaN,8824,NULL,NULL,1,NaN,NULL,NaN,NaN,NULL,NULL,Zaletchikya МТС запустили в Новосибирской обла...,414992489553334272,NaN,NaN
18014,NaN,NaN,NULL,1387777635,NaN,8825,NULL,NULL,1,NaN,NULL,NaN,NaN,NULL,NULL,МТС запустила сеть LTE в Красноярском крае: Ко...,414995599277031424,NaN,NaN
18015,NaN,NaN,NULL,1387778105,NaN,8826,NULL,NULL,1,NaN,NULL,NaN,NaN,NULL,NULL,МТС запустила первую сеть LTE в Сибири,414997568616427520,NaN,NaN
18016,NaN,NaN,NULL,1387778471,NaN,8827,NULL,NULL,1,NaN,NULL,NaN,NaN,NULL,NULL,МТС запустила сеть LTE в Красноярском крае htt...,414999104184279040,NaN,NaN
18017,NaN,NaN,NULL,1387780451,NaN,8828,NULL,NULL,1,NaN,NULL,NaN,NaN,NULL,NULL,#news После Новосибирска МТС запустила сеть 4G...,415007409837314049,NaN,NaN
18018,NaN,NaN,NULL,1387780451,NaN,8829,NULL,NULL,1,NaN,NULL,NaN,NaN,NULL,NULL,После Новосибирска МТС запустила сеть 4G в Кра...,415007409078140928,NaN,NaN
18019,NaN,NaN,NULL,1387780451,NaN,8830,NULL,NULL,1,NaN,NULL,NaN,NaN,NULL,NULL,После Новосибирска МТС запустила сеть 4G в Кра...,415007408847454208,NaN,NaN
18020,NaN,NaN,NULL,1387780451,NaN,8831,NULL,NULL,1,NaN,NULL,NaN,NaN,NULL,NULL,После Новосибирска МТС запустила сеть 4G в Кра...,415007408570654720,NaN,NaN
18021,NaN,NaN,NULL,1387781331,NaN,8832,NULL,NULL,-1,NaN,NULL,NaN,NaN,NULL,NULL,RT @winkk92: У МТС проблемы со связью из-за за...,415011099076206592,NaN,NaN
18022,NaN,NaN,NULL,1387788423,NaN,8833,NULL,NULL,-1,NaN,NULL,NaN,NaN,NULL,NULL,RT @rozotinopad: У МТС проблемы со связью из-з...,415040844694319104,NaN,NaN
18023,NaN,NaN,NULL,1387791008,NaN,8834,NULL,NULL,-1,NaN,NULL,NaN,NaN,NULL,NULL,RT @thespiderx3: У МТС проблемы со связью из-з...,415051688673021953,NaN,NaN
18024,NaN,NaN,NULL,1387792816,NaN,8835,NULL,NULL,-1,NaN,NULL,NaN,NaN,NULL,NULL,RT @ssuhas78: У МТС проблемы со связью из-за з...,415059270217244672,NaN,NaN
18025,NaN,NaN,NULL,1387793485,NaN,8836,NULL,NULL,1,NaN,NULL,NaN,NaN,NULL,NULL,@ru_mts ура!Спасибо Вам!,415062077443940352,NaN,NaN
18026,NaN,NaN,NULL,1387795050,NaN,8837,NULL,NULL,-1,NaN,NULL,NaN,NaN,NULL,NULL,RT @alimov48: У МТС проблемы со связью из-за з...,415068642548920320,NaN,NaN
18027,NaN,NaN,NULL,1387796029,NaN,8838,NULL,NULL,1,NaN,NULL,NaN,NaN,NULL,NULL,RT @ru_mts: RT @mts_news: #LTE от #МТС шагает ...,415072750118531072,NaN,NaN
18028,NaN,NaN,NULL,1387798984,NaN,8839,NULL,NULL,-1,NaN,NULL,NaN,NaN,NULL,NULL,Ура! После последних событий «минус 500 рублей...,415085142340673537,NaN,NaN
18029,NaN,NaN,NULL,1387800449,NaN,8840,NULL,NULL,-1,NaN,NULL,NaN,NaN,NULL,NULL,@iNikkiiiii подать в суд на МТС,415091285071249408,NaN,NaN
18030,NaN,NaN,NULL,1387801265,NaN,8841,NULL,NULL,1,NaN,NULL,NaN,NaN,NULL,NULL,Понедвечер / / Сейчас буду делать уроки. Вот ...,415094710408323072,NaN,NaN
18031,NaN,NaN,NULL,1387805818,NaN,8842,NULL,NULL,-1,NaN,NULL,NaN,NaN,NULL,NULL,"Ну если-же это МТС,то скорость интернета будет...",415113805056593920,NaN,NaN
18032,NaN,NaN,NULL,1387807952,NaN,8843,NULL,NULL,-1,NaN,NULL,NaN,NaN,NULL,NULL,RT @Olympialeigh: У МТС проблемы со связью из-...,415122755252940800,NaN,NaN
18033,NaN,NaN,NULL,1387808227,NaN,8844,NULL,NULL,-1,NaN,NULL,NaN,NaN,NULL,NULL,RT @ManisaMerkez45: У МТС проблемы со связью и...,415123909592481793,NaN,NaN
18034,NaN,NaN,NULL,1387809204,NaN,8845,NULL,NULL,-1,NaN,NULL,NaN,NaN,NULL,NULL,RT @MertKaraoban: У МТС проблемы со связью из-...,415128009017151488,NaN,NaN

## Data Preparation:

In [5]:
data_train.drop(['date', 'id', 'twitid'], axis=1, inplace = True, errors='ignore')
data_train.head()

,alfabank,bankmoskvy,beeline,gazprom,komstar,megafon,mts,raiffeisen,rostelecom,rshb,sberbank,skylink,tele2,text,uralsib,vtb
0,0,NULL,NaN,NULL,NaN,NaN,NaN,NULL,NaN,NULL,NULL,NaN,NaN,http://t.co/YEVHuvVGA1 Взять кредит тюмень аль...,NULL,NULL
1,NULL,NULL,NaN,NULL,NaN,NaN,NaN,NULL,NaN,NULL,NULL,NaN,NaN,Мнение о кредитной карте втб 24 http://t.co/SB...,NULL,0
2,NULL,NULL,NaN,NULL,NaN,NaN,NaN,0,NaN,NULL,NULL,NaN,NaN,«Райффайзенбанк»: Снижение ключевой ставки ЦБ ...,NULL,NULL
3,NULL,NULL,NaN,NULL,NaN,NaN,NaN,NULL,NaN,NULL,0,NaN,NaN,Современное состояние кредитного поведения в р...,NULL,NULL
4,NULL,NULL,NaN,NULL,NaN,NaN,NaN,NULL,NaN,NULL,1,NaN,NaN,@sawik_shuster @YevhenS Главное чтоб банки СБЕ...,NULL,1

In [6]:
data_train.fillna(0)

,alfabank,bankmoskvy,beeline,gazprom,komstar,megafon,mts,raiffeisen,rostelecom,rshb,sberbank,skylink,tele2,text,uralsib,vtb
0,0,NULL,0,NULL,0,0,0,NULL,0,NULL,NULL,0,0,http://t.co/YEVHuvVGA1 Взять кредит тюмень аль...,NULL,NULL
1,NULL,NULL,0,NULL,0,0,0,NULL,0,NULL,NULL,0,0,Мнение о кредитной карте втб 24 http://t.co/SB...,NULL,0
2,NULL,NULL,0,NULL,0,0,0,0,0,NULL,NULL,0,0,«Райффайзенбанк»: Снижение ключевой ставки ЦБ ...,NULL,NULL
3,NULL,NULL,0,NULL,0,0,0,NULL,0,NULL,0,0,0,Современное состояние кредитного поведения в р...,NULL,NULL
4,NULL,NULL,0,NULL,0,0,0,NULL,0,NULL,1,0,0,@sawik_shuster @YevhenS Главное чтоб банки СБЕ...,NULL,1
5,NULL,0,0,NULL,0,0,0,NULL,0,NULL,NULL,0,0,http://t.co/Qr6JbSVTxY Оформить краткосрочный ...,NULL,NULL
6,NULL,NULL,0,NULL,0,0,0,NULL,0,NULL,NULL,0,0,Самый выгодный автокредит в втб 24 http://t.co...,NULL,1
7,NULL,NULL,0,NULL,0,0,0,NULL,0,NULL,0,0,0,Кредит иногородним в москве сбербанк http://t....,NULL,NULL
8,NULL,NULL,0,NULL,0,0,0,NULL,0,0,NULL,0,0,Кредитный калькулятор россельхозбанк чита http...,NULL,NULL
9,NULL,NULL,0,NULL,0,0,0,NULL,0,NULL,NULL,0,0,http://t.co/h6r6GdBe4H Легко можно получить де...,NULL,1
10,NULL,NULL,0,NULL,0,0,0,-1,0,NULL,NULL,0,0,ДЕЛО - На 1 млрд грн ушел в минус Райффайзен ...,NULL,0
11,0,NULL,0,NULL,0,0,0,NULL,0,NULL,NULL,0,0,Део нексия в кредит в альфа банке http://t.co/...,NULL,NULL
12,NULL,NULL,0,NULL,0,0,0,NULL,0,0,NULL,0,0,Россельхозбанк кредит стань фермером http://t....,NULL,NULL
13,NULL,NULL,0,NULL,0,0,0,NULL,0,NULL,NULL,0,0,http://t.co/CuNsxVhAb0 Банк втб взять кредит 4...,NULL,0
14,NULL,NULL,0,NULL,0,0,0,NULL,0,NULL,-1,0,0,@ShtirliZ_ @Zhukova_olga @winzard @tereshenkov...,NULL,NULL
15,NULL,NULL,0,NULL,0,0,0,NULL,0,NULL,0,0,0,Расчитать кредит сбер банк россии в москве htt...,NULL,NULL
16,NULL,NULL,0,0,0,0,0,NULL,0,NULL,NULL,0,0,Кредит в газпром банке тула http://t.co/jqt7Nf...,NULL,NULL
17,NULL,NULL,0,NULL,0,0,0,NULL,0,NULL,0,0,0,Кредитный калькулятор сбербанк россии http://t...,NULL,NULL
18,NULL,NULL,0,NULL,0,0,0,NULL,0,NULL,-1,0,0,@Umka_75 @Alfarius2012 @igor_sechin втб и сбер...,NULL,-1
19,NULL,NULL,0,NULL,0,0,0,NULL,0,0,NULL,0,0,http://t.co/Snn5WoPVcf Взять кредит строительс...,NULL,NULL
20,NULL,NULL,0,NULL,0,0,0,NULL,0,NULL,NULL,0,0,Льготный период по кредитной карте втб 24 http...,NULL,0
21,NULL,NULL,0,NULL,0,0,0,NULL,0,NULL,NULL,0,0,http://t.co/SqAiEPURl0 Казань банк втб 24 хочу...,NULL,0
22,NULL,NULL,0,NULL,0,0,0,NULL,0,0,NULL,0,0,http://t.co/YtapffQchW Как взять кредит на раз...,NULL,NULL
23,NULL,NULL,0,NULL,0,0,0,NULL,0,NULL,NULL,0,0,Оао банк втб северо запад в спб автокредит htt...,NULL,0
24,NULL,NULL,0,NULL,0,0,0,NULL,0,NULL,NULL,0,0,http://t.co/6sKsurs9OH Оформить заявку на кред...,0,NULL
25,NULL,NULL,0,0,0,0,0,NULL,0,NULL,NULL,0,0,http://t.co/v4cogwQQ1g Взять кредит в газпромб...,NULL,NULL
26,NULL,NULL,0,-1,0,0,0,NULL,0,NULL,NULL,0,0,"Канада ввела санкции против Газпромбанка, ВЭБа...",NULL,NULL
27,0,NULL,0,NULL,0,0,0,NULL,0,NULL,NULL,0,0,http://t.co/UYLSGYH8P6 Как взять денежный кред...,NULL,NULL
28,NULL,NULL,0,NULL,0,0,0,0,0,NULL,NULL,0,0,Заявление на потребительский кредит в райффайз...,NULL,NULL
29,NULL,NULL,0,NULL,0,0,0,NULL,0,NULL,0,0,0,http://t.co/c2r5fpTO6H Сбербанк кредит как пол...,NULL,NULL
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18005,0,0,NULL,0,NULL,NULL,1,0,NULL,0,0,NULL,NULL,@ru_mts @mts_ukraine благодарю =),0,0
18006,0,0,NULL,0,NULL,NULL,-1,0,NULL,0,0,NULL,NULL,RT @zamigehyrejy: мтс без 3г просто печале не...,0,0
18007,0,0,NULL,0,NULL,NULL,-1,0,NULL,0,0,NULL,NULL,@ru_mts они уходят в ожидание на 5 минут и пот...,0,0
18008,0,0,NULL,0,NULL,NULL,0,0,NULL,0,0,NULL,NULL,МТС - люди говорят! ФСБ - мы записываем! http:...,0,0
18009,0,0,NULL,0,NULL,NULL,-1,0,NULL,0,0,NULL,NULL,RT @css8574: У МТС проблемы со связью из-за за...,0,0
18010,0,0,NULL,0,NULL,NULL,-1,0,NULL,0,0,NULL,NULL,#МТС что со связью вновь? На островах вообще м...,0,0
18011,0,0,NULL,0,NULL,NULL,-1,0,NULL,0,0,NULL,NULL,"@ru_mts, вы выделяете персонального менеджера,...",0,0
18012,0,0,NULL,0,NULL,NULL,-1,0,NULL,0,0,NULL,NULL,@ru_mts спасибо за ответ точнее за посыл в офи...,0,0
18013,0,0,NULL,0,NULL,NULL,1,0,NULL,0,0,NULL,NULL,Zaletchikya МТС запустили в Новосибирской обла...,0,0
18014,0,0,NULL,0,NULL,NULL,1,0,NULL,0,0,NULL,NULL,МТС запустила сеть LTE в Красноярском крае: Ко...,0,0
18015,0,0,NULL,0,NULL,NULL,1,0,NULL,0,0,NULL,NULL,МТС запустила первую сеть LTE в Сибири,0,0
18016,0,0,NULL,0,NULL,NULL,1,0,NULL,0,0,NULL,NULL,МТС запустила сеть LTE в Красноярском крае htt...,0,0
18017,0,0,NULL,0,NULL,NULL,1,0,NULL,0,0,NULL,NULL,#news После Новосибирска МТС запустила сеть 4G...,0,0
18018,0,0,NULL,0,NULL,NULL,1,0,NULL,0,0,NULL,NULL,После Новосибирска МТС запустила сеть 4G в Кра...,0,0
18019,0,0,NULL,0,NULL,NULL,1,0,NULL,0,0,NULL,NULL,После Новосибирска МТС запустила сеть 4G в Кра...,0,0
18020,0,0,NULL,0,NULL,NULL,1,0,NULL,0,0,NULL,NULL,После Новосибирска МТС запустила сеть 4G в Кра...,0,0
18021,0,0,NULL,0,NULL,NULL,-1,0,NULL,0,0,NULL,NULL,RT @winkk92: У МТС проблемы со связью из-за за...,0,0
18022,0,0,NULL,0,NULL,NULL,-1,0,NULL,0,0,NULL,NULL,RT @rozotinopad: У МТС проблемы со связью из-з...,0,0
18023,0,0,NULL,0,NULL,NULL,-1,0,NULL,0,0,NULL,NULL,RT @thespiderx3: У МТС проблемы со связью из-з...,0,0
18024,0,0,NULL,0,NULL,NULL,-1,0,NULL,0,0,NULL,NULL,RT @ssuhas78: У МТС проблемы со связью из-за з...,0,0
18025,0,0,NULL,0,NULL,NULL,1,0,NULL,0,0,NULL,NULL,@ru_mts ура!Спасибо Вам!,0,0
18026,0,0,NULL,0,NULL,NULL,-1,0,NULL,0,0,NULL,NULL,RT @alimov48: У МТС проблемы со связью из-за з...,0,0
18027,0,0,NULL,0,NULL,NULL,1,0,NULL,0,0,NULL,NULL,RT @ru_mts: RT @mts_news: #LTE от #МТС шагает ...,0,0
18028,0,0,NULL,0,NULL,NULL,-1,0,NULL,0,0,NULL,NULL,Ура! После последних событий «минус 500 рублей...,0,0
18029,0,0,NULL,0,NULL,NULL,-1,0,NULL,0,0,NULL,NULL,@iNikkiiiii подать в суд на МТС,0,0
18030,0,0,NULL,0,NULL,NULL,1,0,NULL,0,0,NULL,NULL,Понедвечер / / Сейчас буду делать уроки. Вот ...,0,0
18031,0,0,NULL,0,NULL,NULL,-1,0,NULL,0,0,NULL,NULL,"Ну если-же это МТС,то скорость интернета будет...",0,0
18032,0,0,NULL,0,NULL,NULL,-1,0,NULL,0,0,NULL,NULL,RT @Olympialeigh: У МТС проблемы со связью из-...,0,0
18033,0,0,NULL,0,NULL,NULL,-1,0,NULL,0,0,NULL,NULL,RT @ManisaMerkez45: У МТС проблемы со связью и...,0,0
18034,0,0,NULL,0,NULL,NULL,-1,0,NULL,0,0,NULL,NULL,RT @MertKaraoban: У МТС проблемы со связью из-...,0,0

## Get Labels:

In [7]:
def label(row):
    if (row == '1').any():
        label = 1
    elif (row == '0').any():
            label = 0
    else:
        label = -1
    return(label)

In [8]:
data_train['label'] = data_train.apply(label, axis=1)
data_train.label.value_counts()

 0    11832
-1     4145
 1     2058
Name: label, dtype: int64

In [9]:
data_test['label'] = data_test.apply(label, axis=1)
data_test.label.value_counts()

 0    3251
-1    1769
 1     540
Name: label, dtype: int64

## Clean Text:

In [10]:
def clean_text(text):
    text = text.lower().replace("ё", "е")
    text = re.sub('((www\.[^\s]+)|(https?://[^\s]+))', 'URL', text)
    text = re.sub('@[^\s]+', 'USER', text)
    text = re.sub('[^a-zA-Zа-яА-Я1-9]+', ' ', text)
    text = re.sub(' +', ' ', text)
    return text.strip()

In [11]:
data_train['clean_text'] = data_train.text.apply(clean_text)
data_test['clean_text'] = data_test.text.apply(clean_text)

In [12]:
data_train

,alfabank,bankmoskvy,beeline,gazprom,komstar,megafon,mts,raiffeisen,rostelecom,rshb,sberbank,skylink,tele2,text,uralsib,vtb,label,clean_text
0,0,NULL,NaN,NULL,NaN,NaN,NaN,NULL,NaN,NULL,NULL,NaN,NaN,http://t.co/YEVHuvVGA1 Взять кредит тюмень аль...,NULL,NULL,0,URL взять кредит тюмень альфа банк
1,NULL,NULL,NaN,NULL,NaN,NaN,NaN,NULL,NaN,NULL,NULL,NaN,NaN,Мнение о кредитной карте втб 24 http://t.co/SB...,NULL,0,0,мнение о кредитной карте втб 24 URL
2,NULL,NULL,NaN,NULL,NaN,NaN,NaN,0,NaN,NULL,NULL,NaN,NaN,«Райффайзенбанк»: Снижение ключевой ставки ЦБ ...,NULL,NULL,0,райффайзенбанк снижение ключевой ставки цб на ...
3,NULL,NULL,NaN,NULL,NaN,NaN,NaN,NULL,NaN,NULL,0,NaN,NaN,Современное состояние кредитного поведения в р...,NULL,NULL,0,современное состояние кредитного поведения в р...
4,NULL,NULL,NaN,NULL,NaN,NaN,NaN,NULL,NaN,NULL,1,NaN,NaN,@sawik_shuster @YevhenS Главное чтоб банки СБЕ...,NULL,1,1,USER USER главное чтоб банки сбер и втб
5,NULL,0,NaN,NULL,NaN,NaN,NaN,NULL,NaN,NULL,NULL,NaN,NaN,http://t.co/Qr6JbSVTxY Оформить краткосрочный ...,NULL,NULL,0,URL оформить краткосрочный кредит оао банк москвы
6,NULL,NULL,NaN,NULL,NaN,NaN,NaN,NULL,NaN,NULL,NULL,NaN,NaN,Самый выгодный автокредит в втб 24 http://t.co...,NULL,1,1,самый выгодный автокредит в втб 24 URL
7,NULL,NULL,NaN,NULL,NaN,NaN,NaN,NULL,NaN,NULL,0,NaN,NaN,Кредит иногородним в москве сбербанк http://t....,NULL,NULL,0,кредит иногородним в москве сбербанк URL
8,NULL,NULL,NaN,NULL,NaN,NaN,NaN,NULL,NaN,0,NULL,NaN,NaN,Кредитный калькулятор россельхозбанк чита http...,NULL,NULL,0,кредитный калькулятор россельхозбанк чита URL
9,NULL,NULL,NaN,NULL,NaN,NaN,NaN,NULL,NaN,NULL,NULL,NaN,NaN,http://t.co/h6r6GdBe4H Легко можно получить де...,NULL,1,1,URL легко можно получить денежный кредит ы втб...
10,NULL,NULL,NaN,NULL,NaN,NaN,NaN,-1,NaN,NULL,NULL,NaN,NaN,ДЕЛО - На 1 млрд грн ушел в минус Райффайзен ...,NULL,0,0,дело на 1 млрд грн ушел в минус райффайзен бан...
11,0,NULL,NaN,NULL,NaN,NaN,NaN,NULL,NaN,NULL,NULL,NaN,NaN,Део нексия в кредит в альфа банке http://t.co/...,NULL,NULL,0,део нексия в кредит в альфа банке URL
12,NULL,NULL,NaN,NULL,NaN,NaN,NaN,NULL,NaN,0,NULL,NaN,NaN,Россельхозбанк кредит стань фермером http://t....,NULL,NULL,0,россельхозбанк кредит стань фермером URL
13,NULL,NULL,NaN,NULL,NaN,NaN,NaN,NULL,NaN,NULL,NULL,NaN,NaN,http://t.co/CuNsxVhAb0 Банк втб взять кредит 4...,NULL,0,0,URL банк втб взять кредит 4
14,NULL,NULL,NaN,NULL,NaN,NaN,NaN,NULL,NaN,NULL,-1,NaN,NaN,@ShtirliZ_ @Zhukova_olga @winzard @tereshenkov...,NULL,NULL,-1,USER USER USER USER обязательно про сбербанк н...
15,NULL,NULL,NaN,NULL,NaN,NaN,NaN,NULL,NaN,NULL,0,NaN,NaN,Расчитать кредит сбер банк россии в москве htt...,NULL,NULL,0,расчитать кредит сбер банк россии в москве URL
16,NULL,NULL,NaN,0,NaN,NaN,NaN,NULL,NaN,NULL,NULL,NaN,NaN,Кредит в газпром банке тула http://t.co/jqt7Nf...,NULL,NULL,0,кредит в газпром банке тула URL
17,NULL,NULL,NaN,NULL,NaN,NaN,NaN,NULL,NaN,NULL,0,NaN,NaN,Кредитный калькулятор сбербанк россии http://t...,NULL,NULL,0,кредитный калькулятор сбербанк россии URL
18,NULL,NULL,NaN,NULL,NaN,NaN,NaN,NULL,NaN,NULL,-1,NaN,NaN,@Umka_75 @Alfarius2012 @igor_sechin втб и сбер...,NULL,-1,-1,USER USER USER втб и сбер точно вопрос блокиро...
19,NULL,NULL,NaN,NULL,NaN,NaN,NaN,NULL,NaN,0,NULL,NaN,NaN,http://t.co/Snn5WoPVcf Взять кредит строительс...,NULL,NULL,0,URL взять кредит строительство магазина россел...
20,NULL,NULL,NaN,NULL,NaN,NaN,NaN,NULL,NaN,NULL,NULL,NaN,NaN,Льготный период по кредитной карте втб 24 http...,NULL,0,0,льготный период по кредитной карте втб 24 URL
21,NULL,NULL,NaN,NULL,NaN,NaN,NaN,NULL,NaN,NULL,NULL,NaN,NaN,http://t.co/SqAiEPURl0 Казань банк втб 24 хочу...,NULL,0,0,URL казань банк втб 24 хочу взять кредит мне 2...
22,NULL,NULL,NaN,NULL,NaN,NaN,NaN,NULL,NaN,0,NULL,NaN,NaN,http://t.co/YtapffQchW Как взять кредит на раз...,NULL,NULL,0,URL как взять кредит на развитие хозяйства рос...
23,NULL,NULL,NaN,NULL,NaN,NaN,NaN,NULL,NaN,NULL,NULL,NaN,NaN,Оао банк втб северо запад в спб автокредит htt...,NULL,0,0,оао банк втб северо запад в спб автокредит URL
24,NULL,NULL,NaN,NULL,NaN,NaN,NaN,NULL,NaN,NULL,NULL,NaN,NaN,http://t.co/6sKsurs9OH Оформить заявку на кред...,0,NULL,0,URL оформить заявку на кредит в банк уралсиб
25,NULL,NULL,NaN,0,NaN,NaN,NaN,NULL,NaN,NULL,NULL,NaN,NaN,http://t.co/v4cogwQQ1g Взять кредит в газпромб...,NULL,NULL,0,URL взять кредит в газпромбанке какие условия
26,NULL,NULL,NaN,-1,NaN,NaN,NaN,NULL,NaN,NULL,NULL,NaN,NaN,"Канада ввела санкции против Газпромбанка, ВЭБа...",NULL,NULL,-1,канада ввела санкции против газпромбанка вэба ...
27,0,NULL,NaN,NULL,NaN,NaN,NaN,NULL,NaN,NULL,NULL,NaN,NaN,http://t.co/UYLSGYH8P6 Как взять денежный кред...,NULL,NULL,0,URL как взять денежный кредит в альфа банке
28,NULL,NULL,NaN,NULL,NaN,NaN,NaN,0,NaN,NULL,NULL,NaN,NaN,Заявление на потребительский кредит в райффайз...,NULL,NULL,0,заявление на потребительский кредит в райффайз...
29,NULL,NULL,NaN,NULL,NaN,NaN,NaN,NULL,NaN,NULL,0,NaN,NaN,http://t.co/c2r5fpTO6H Сбербанк кредит как пол...,NULL,NULL,0,URL сбербанк кредит как получить
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18005,NaN,NaN,NULL,NaN,NULL,NULL,1,NaN,NULL,NaN,NaN,NULL,NULL,@ru_mts @mts_ukraine благодарю =),NaN,NaN,1,USER USER благодарю
18006,NaN,NaN,NULL,NaN,NULL,NULL,-1,NaN,NULL,NaN,NaN,NULL,NULL,RT @zamigehyrejy: мтс без 3г просто печале не...,NaN,NaN,-1,rt USER мтс без 3г просто печале неговоря уже ...
18007,NaN,NaN,NULL,NaN,NULL,NULL,-1,NaN,NULL,NaN,NaN,NULL,NULL,@ru_mts они уходят в ожидание на 5 минут и пот...,NaN,NaN,-1,USER они уходят в ожидание на 5 минут и потом ...
18008,NaN,NaN,NULL,NaN,NULL,NULL,0,NaN,NULL,NaN,NaN,NULL,NULL,МТС - люди говорят! ФСБ - мы записываем! http:...,NaN,NaN,0,мтс люди говорят фсб мы записываем URL
18009,NaN,NaN,NULL,NaN,NULL,NULL,-1,NaN,NULL,NaN,NaN,NULL,NULL,RT @css8574: У МТС проблемы со связью из-за за...,NaN,NaN,-1,rt USER у мтс проблемы со связью из за замены ...
18010,NaN,NaN,NULL,NaN,NULL,NULL,-1,NaN,NULL,NaN,NaN,NULL,NULL,#МТС что со связью вновь? На островах вообще м...,NaN,NaN,-1,мтс что со связью вновь на островах вообще мес...
18011,NaN,NaN,NULL,NaN,NULL,NULL,-1,NaN,NULL,NaN,NaN,NULL,NULL,"@ru_mts, вы выделяете персонального менеджера,...",NaN,NaN,-1,USER вы выделяете персонального менеджера но н...
18012,NaN,NaN,NULL,NaN,NULL,NULL,-1,NaN,NULL,NaN,NaN,NULL,NULL,@ru_mts спасибо за ответ точнее за посыл в офи...,NaN,NaN,-1,USER спасибо за ответ точнее за посыл в офис н...
18013,NaN,NaN,NULL,NaN,NULL,NULL,1,NaN,NULL,NaN,NaN,NULL,NULL,Zaletchikya МТС запустили в Новосибирской обла...,NaN,NaN,1,zaletchikya мтс запустили в новосибирской обла...
18014,NaN,NaN,NULL,NaN,NULL,NULL,1,NaN,NULL,NaN,NaN,NULL,NULL,МТС запустила сеть LTE в Красноярском крае: Ко...,NaN,NaN,1,мтс запустила сеть lte в красноярском крае ком...
18015,NaN,NaN,NULL,NaN,NULL,NULL,1,NaN,NULL,NaN,NaN,NULL,NULL,МТС запустила первую сеть LTE в Сибири,NaN,NaN,1,мтс запустила первую сеть lte в сибири
18016,NaN,NaN,NULL,NaN,NULL,NULL,1,NaN,NULL,NaN,NaN,NULL,NULL,МТС запустила сеть LTE в Красноярском крае htt...,NaN,NaN,1,мтс запустила сеть lte в красноярском крае URL
18017,NaN,NaN,NULL,NaN,NULL,NULL,1,NaN,NULL,NaN,NaN,NULL,NULL,#news После Новосибирска МТС запустила сеть 4G...,NaN,NaN,1,news после новосибирска мтс запустила сеть 4g ...
18018,NaN,NaN,NULL,NaN,NULL,NULL,1,NaN,NULL,NaN,NaN,NULL,NULL,После Новосибирска МТС запустила сеть 4G в Кра...,NaN,NaN,1,после новосибирска мтс запустила сеть 4g в кра...
18019,NaN,NaN,NULL,NaN,NULL,NULL,1,NaN,NULL,NaN,NaN,NULL,NULL,После Новосибирска МТС запустила сеть 4G в Кра...,NaN,NaN,1,после новосибирска мтс запустила сеть 4g в кра...
18020,NaN,NaN,NULL,NaN,NULL,NULL,1,NaN,NULL,NaN,NaN,NULL,NULL,После Новосибирска МТС запустила сеть 4G в Кра...,NaN,NaN,1,после новосибирска мтс запустила сеть 4g в кра...
18021,NaN,NaN,NULL,NaN,NULL,NULL,-1,NaN,NULL,NaN,NaN,NULL,NULL,RT @winkk92: У МТС проблемы со связью из-за за...,NaN,NaN,-1,rt USER у мтс проблемы со связью из за замены ...
18022,NaN,NaN,NULL,NaN,NULL,NULL,-1,NaN,NULL,NaN,NaN,NULL,NULL,RT @rozotinopad: У МТС проблемы со связью из-з...,NaN,NaN,-1,rt USER у мтс проблемы со связью из за замены ...
18023,NaN,NaN,NULL,NaN,NULL,NULL,-1,NaN,NULL,NaN,NaN,NULL,NULL,RT @thespiderx3: У МТС проблемы со связью из-з...,NaN,NaN,-1,rt USER у мтс проблемы со связью из за замены ...
18024,NaN,NaN,NULL,NaN,NULL,NULL,-1,NaN,NULL,NaN,NaN,NULL,NULL,RT @ssuhas78: У МТС проблемы со связью из-за з...,NaN,NaN,-1,rt USER у мтс проблемы со связью из за замены ...
18025,NaN,NaN,NULL,NaN,NULL,NULL,1,NaN,NULL,NaN,NaN,NULL,NULL,@ru_mts ура!Спасибо Вам!,NaN,NaN,1,USER ура спасибо вам
18026,NaN,NaN,NULL,NaN,NULL,NULL,-1,NaN,NULL,NaN,NaN,NULL,NULL,RT @alimov48: У МТС проблемы со связью из-за з...,NaN,NaN,-1,rt USER у мтс проблемы со связью из за замены ...
18027,NaN,NaN,NULL,NaN,NULL,NULL,1,NaN,NULL,NaN,NaN,NULL,NULL,RT @ru_mts: RT @mts_news: #LTE от #МТС шагает ...,NaN,NaN,1,rt USER rt USER lte от мтс шагает по стране се...
18028,NaN,NaN,NULL,NaN,NULL,NULL,-1,NaN,NULL,NaN,NaN,NULL,NULL,Ура! После последних событий «минус 500 рублей...,NaN,NaN,-1,ура после последних событий минус 5 рублей с U...
18029,NaN,NaN,NULL,NaN,NULL,NULL,-1,NaN,NULL,NaN,NaN,NULL,NULL,@iNikkiiiii подать в суд на МТС,NaN,NaN,-1,USER подать в суд на мтс
18030,NaN,NaN,NULL,NaN,NULL,NULL,1,NaN,NULL,NaN,NaN,NULL,NULL,Понедвечер / / Сейчас буду делать уроки. Вот ...,NaN,NaN,1,понедвечер сейчас буду делать уроки вот такая ...
18031,NaN,NaN,NULL,NaN,NULL,NULL,-1,NaN,NULL,NaN,NaN,NULL,NULL,"Ну если-же это МТС,то скорость интернета будет...",NaN,NaN,-1,ну если же это мтс то скорость интернета будет...
18032,NaN,NaN,NULL,NaN,NULL,NULL,-1,NaN,NULL,NaN,NaN,NULL,NULL,RT @Olympialeigh: У МТС проблемы со связью из-...,NaN,NaN,-1,rt USER у мтс проблемы со связью из за замены ...
18033,NaN,NaN,NULL,NaN,NULL,NULL,-1,NaN,NULL,NaN,NaN,NULL,NULL,RT @ManisaMerkez45: У МТС проблемы со связью и...,NaN,NaN,-1,rt USER у мтс проблемы со связью из за замены ...
18034,NaN,NaN,NULL,NaN,NULL,NULL,-1,NaN,NULL,NaN,NaN,NULL,NULL,RT @MertKaraoban: У МТС проблемы со связью из-...,NaN,NaN,-1,rt USER у мтс проблемы со связью из за замены ...

## TF-IDF Vectorizer:

In [13]:
vectorizer = TfidfVectorizer()
X_train = vectorizer.fit_transform(data_train.text)
X_train.shape

/Users/juan/anaconda3/lib/python3.6/site-packages/sklearn/feature_extraction/text.py:1089: FutureWarning: Conversion of the second argument of issubdtype from `float` to `np.floating` is deprecated. In future, it will be treated as `np.float64 == np.dtype(float).type`.
  if hasattr(X, 'dtype') and np.issubdtype(X.dtype, np.float):

(18035, 35957)

In [14]:
X_test = vectorizer.transform(data_test.text)
X_test.shape

/Users/juan/anaconda3/lib/python3.6/site-packages/sklearn/feature_extraction/text.py:1089: FutureWarning: Conversion of the second argument of issubdtype from `float` to `np.floating` is deprecated. In future, it will be treated as `np.float64 == np.dtype(float).type`.
  if hasattr(X, 'dtype') and np.issubdtype(X.dtype, np.float):

(5560, 35957)

## Logistic Regression Model:

In [15]:
model = LogisticRegression(multi_class='ovr')

In [16]:
model.fit(X_train, data_train.label)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

### Results:

In [17]:
score = model.score(X_test, data_test.label)
print('Model Accuracy:', (score*100), '%')

Model Accuracy: 70.70143884892086 %